.about {
  padding: 80px 0;
  /* background-color: rgb(237, 237, 237); */
  background-color: #eff0f2;
  color: #363636;
  /* color: #231634; */
}

.title-secondary {
  font-size: 30px;
  margin-bottom: 30px;
}

.about-span {
  display: inline-block;
  /* color: #4ca5ff; */
  color: #7B68EE;
  font-weight: 500;
}

.about__text {
  margin-bottom: 20px;
  font-size: 18px;
  /* color:#231634; */
}

/* .about__title {
  color: #231634;
} */

.material-symbols-outlined {
  width: 20px;
  height: 20px;
  margin-top: -5px;
  display: inline-block;
  /* color: #4ca5ff; */
  color: #934cd8;
}

@media (max-width: 320px) {
  .about__text {
    font-size: 14px;
  }
  
}
