.header { 
  height: 100vh;
 }

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #363636;
  /* color: #231634; */
  padding-top: 9%;
}

.contacts-hero {
  margin-right: 90px;
}

.hero__icon {
  margin-bottom: 15px;
  font-size: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #363636;
}

.hero__left {
  display: flex;
}

.hero-title {
  /* font-size: 40px; */
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 130%;
}

.hero__list {
  display: flex;
  font-size: 10px;
  margin-top: 90px;
  gap: 10px;
}

.hero__link {
  display: inline-block;
  border-bottom: 2px solid rgba(54, 54, 54, 0.5921568627);
}

.hero__right {
  /* background: url(../../images/photo-heroJPG.JPG) no-repeat left; */
  background: url(../../images/header.jpeg) no-repeat left top;
  background-size: cover;
  width: 350px;
  /* max-height: 350px; */
  height: 350px;
  /* border-radius: 30% 70% 70% 30%/30% 30% 70% 70%; */
  border-radius: 50%;
  /* box-shadow: rgba(99, 99, 99, 0.7) 0px 2px 8px 0px; */
  /* border-color: rgb(20, 30, 61); */
  margin-top: 30px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out;

  /* animation: 2s ease 0s infinite normal none running float; */
}

/* @keyframes float {
  0% {
    transform: translateY(-10px);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(-10px);
  }
} */

.hero__right:hover {
  transform: scale(1.1);
}

/* .right {
  position: relative;
} */

/* .circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #7B68EE;
  border: 0.5px  solid#7B68EE;
  background-color: transparent;
  z-index: -1;
  position: absolute;
  left: -30px;

  width: 360px;
  max-height: 360px;
  height: 360px;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
} */
/* 
.circle1 {
  top: 10px;
  left: -5px;

} */

/* .circle2 {
  width: 400px;
  height: 400px;
  left: 50px;
  top: 200px;
  border: 1px solid#7B68EE;
  background-color: transparent;

} */

.scroll-icon {
  font-size: 15px;
}

.scroll-icon:hover {
  /* color: #4ca5ff; */
  color: #7B68EE;
}


.mouse {
  margin-right: 10px;
}

/* scrollbar */

.scroll-down {
  display: flex;
  margin-top: 90px;
  align-items: center;
  transition: color 0.5s ease;
}

/* .scroll-down:hover {
 
  color: #7B68EE;
} */

.scroll-down__link {
  /* font-size: 12px; */
  font-size: 14px;
  margin-right: 5px;
}

/* .scroll-down__link:hover {
  color: #7B68EE;

} */

.fa-solid.fa-arrow-down.scroll-down__icon {
  font-size: 12px;
}

@media (max-width: 769px) {
  .hero {
    flex-direction: column;
    gap: 30px;
  }
  .hero__left {
    flex-direction: column;
    align-items: center;
    text-align: center;
    order: 2;
  }

  .contacts-hero {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    margin-right: 0px;
    width: 300px;
    height: auto;
    justify-content: center;
  }

  .contacts__list {
    display: flex;
  }

  .hero__right {
    height: 280px;
    width: 280px;
    background-position: top;
    background-size: cover;
    /* border-radius: 80% 15% 15% 40%/50% 30% 70% 70%; */
    /* box-shadow: hsl(257, 5%, 27%) 0px 2px 8px 0px; */
    margin:0;
  }

  /* .contacts-hero {
    margin-right: 50px;
  } */

  .hero-title {
    font-size: 35px;
    line-height: 110%;
  }

  .hero__right:hover {
    transform: scale(1);
  }

  .scroll-down {
    visibility: hidden;
  }
}

@media (max-width:650px) {
  .hero-section {
    padding: 15px 0;
  }
  /* .hero {
    flex-direction: column;
    gap: 30px;
  }
  .hero__left {
    flex-direction: column;
    align-items: center;
    text-align: center;
    order: 2;
  } */
  /* .contacts-hero {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    margin-right: 0px;
    width: 300px;
    height: auto;
    justify-content: center;
  } */
  .hero-title {
    font-size: 30px;
  }

  /* .contacts__list {
    display: flex;
  } */

  .hero__right {
    height: 280px;
    width: 280px;
    /* background-position: top; */
    border-radius: 50%;
    /* box-shadow:rgb(99 99 99 / 70%) 0px 2px 8px 0px;; */
    border-color: none;
  }
}

@media (max-width: 510px) {
  .nav-right {
    display: none;
  }

  .burger-icon {
    display: block;
  }
}

@media (max-width: 480px) {
  .nav-right {
    display: none;
  }
  .skills-wrap {
    flex-wrap: wrap;
  }
  .skills__item {
    font-size: 14px;
  }
  .skills-boolets {
    margin-right: 10px;
    height: 20px;
  }
  /* .fa-solid.fa-bars::before {
    font-size: 25px;
    align-items: center;
  } */
  .logo {
    font-size: 15px;
  }
  /* .burger-icon {
    padding: 10px;
    padding-bottom: 5px;
  } */
  .nav {
    padding: 5px;
    align-items: center;
  }
  .hero__right {
    order: 1;
    width: 250px;
    height: 250px;
  }
  .hero-title {
    line-height: 115%;
  }
  .contacts-hero {
    margin-right: 0px;
    justify-content: center;
  }
  
  .skills-section, .portfolio-section, .contactme-section, .footer, .about-section {
    padding: 60px 0;
  }
 
  .nav-right__link {
    font-size: 25px;
  }
  .nav-right__link:focus {
    /* color: rgb(97, 183, 217) 52%; */
    color: #7B68EE;
  }

  .container.container-nav {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .hero {
    padding-top: 15%;
  }
}