.portfolio-section {
  padding: 80px 0;
  color: #363636;
  /* background-color: white; */
}

.portfolio-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 50px;
  /* justify-content: space-between; */
}


@media (max-width: 1201px) {
  .card {
    width: 520px;
  }
}

@media (max-width: 1021px) {
  .card {
    width: 470px;
  }
}

@media (max-width: 769px) {
  .card {
    width: 300px;
    /* max-width: 300px; */
  }

  /* .card {
    width: 100%;
  } */


  .card__img {
    margin-bottom: 20px;
  }

  .card__link {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .card__text {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .card {
    width: 100%;
  }

  .card__img {
    margin-bottom: 15px;
  }
  .card__text {
    font-size: 13px;
  }
  .card__link {
    width: 30%;
  }
}