.grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skills-section {
  background-color: #363636;
  padding: 80px 0;
  color: #fff;
}

.skills-wrap {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
}

.skills__item {
  margin-bottom: 10px;
  font-size: 18px;
  display: inline-block;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: white;
}

.skills__item::before{
  content: "";
  display: inline-block;
  background-color: black;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

@media (max-width: 769px) {
  .skills__item {
    font-size: 14px;
  }

  .grid-item {
    column-gap: 0;
  }
}

@media (max-width: 768px) {
  .grid-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 320px) {
  .grid-item {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  .skills__item {
    font-size: 12px;
  }
}

