.footer {
  background-color: #363636;
  padding: 80px 0 50px;
}

.footer__icon {
  display: inline-block;
  color: white;
}

.footer__list {
  display: flex;
  gap: 30px;
}

.footer__title {
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 0;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.contacts__icon {
  font-size: 30px;
  transition: all 0.5s ease;
}

.contacts__icon:hover {
  transform: scale(1.2);
  font-size: 30px;
}

.footer__contacts {
  margin-bottom: 25px;
  gap: 40px;
}

.footer__devider {
  display: block;
  width: 30%;
  border-top: 2px solid hsla(0deg, 0%, 100%, 0.1);
  margin: 0 auto;
}

.footer__text {
  color: grey;
  font-style: 12px;
  text-align: center;
  margin-top: 15px;
}

.material-symbols-outlined.footer__icon {
  color: pink;
  font-size: 15px;
}

.scroll-down {
  display: flex;
  margin-top: 90px;
  align-items: center;
  transition: color 0.5s ease;
}

.scroll-down:hover {
  color: rgb(97, 183, 217);
}

.scroll-down__link {
  font-size: 12px;
  margin-right: 5px;
}

.scroll-up {
  text-align: center;
  display: block;
  margin-bottom: 50px;
  transition: all 0.3s ease;
  padding: 10px 0 10px;
  font-size: 25px;
  color: white;
}

.scroll-up:hover {
  transform: scale(1.2);
}

.email-span {
  text-decoration: underline;
}

@media (max-width: 320px) {
  .scroll-up {
    margin-bottom: 30px;
  }
  .footer__text {
    font-size: 12px;
  }
  .footer {
    padding-bottom: 30px;
  }
}